{% if paginator.previous_page or paginator.next_page %}
<!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4061524058303875"
crossorigin="anonymous"></script> -->
<!-- 이윤민 -->
<!-- <ins class="adsbygoogle"
style="display:block"
data-ad-client="ca-pub-4061524058303875"
data-ad-slot="4491323515"
data-ad-format="auto"
data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script> -->

  <nav class="pagination">
    {% assign prev_text = '<i class="fa fa-angle-left"></i>' %}
    {% assign next_text = '<i class="fa fa-angle-right"></i>' %}
    {% include _helper/paginator.html %}
    {{ paginator }}
  </nav>
{% endif %}
