{% comment %} <div style="text-align: center;", "">
    <a href="https://hits.seeyoufarm.com"><img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2F{{ site.url | remove_first: 'https://' | remove_first: 'http://' }}{{ page.url }}&count_bg=%23AAAAAA&title_bg=%23555555&icon=&icon_color=%23E7E7E7&title=Hits&edge_flat=false" style="border: 0px;margin-bottom: 60px;"/></a>
    </div> {% endcomment %}
{% if site.highlight.line_number %}
  {% assign source = post.content %}
  {% include _helper/lineno.html %}
  {{ lineno }}
{% else %}
  {{ post.content }}
{% endif %}