// Custom styles.
.sidebar-nav .sidebar-nav-active {
    color: white;
    border-bottom-color: white;
}
.post-toc .nav .active>a {
    color: white;
    border-bottom-color: white;
}
.post-toc .nav .active-current>a {
    color: white;
}
.page-post-detail .sidebar-toggle-line {
    background: white;
}
.nav-number {
    display: none;
}
.post-toc .nav .active-current > a:hover {
    color: white;
}
.sidebar-nav .sidebar-nav-active:hover {
    color: white;
}
.post-toc .nav .nav-child {
    display: inherit;
}
.headband {
    height: 3px;
    background: white;
}
